In [35]:
import pandas as pd
from  sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import load_model
import pickle

In [36]:
model=load_model("model.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [37]:
with open("LabelEncoder_Gender.pkl",'rb') as f1:
    Label_Encoder=pickle.load(file=f1)

array(['Female', 'Male'], dtype=object)

In [38]:
with open("OneHotEncoder_Geography.pkl",'rb') as f2:
    OneHot_Encoder=pickle.load(file=f2)

In [66]:
OneHot_Encoder.get_feature_names_out()

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [39]:
with open("Scaler.pkl",'rb') as f3:
    Scaler=pickle.load(file=f3)

In [40]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [41]:
OHE_Data=OneHot_Encoder.transform([[input_data['Geography']]])

/Users/kanwal/Desktop/Churn Prediction/ANNvenv/lib/python3.11/site-packages/sklearn/utils/validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [42]:
OHE_Data.toarray()

array([[1., 0., 0.]])

In [43]:
input_DataFrame=pd.DataFrame(OHE_Data.toarray(),columns=OneHot_Encoder.get_feature_names_out())

In [44]:
input_DataFrame

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [45]:
input_DataFrame2=pd.DataFrame([input_data])

In [46]:
input_DataFrame2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [47]:
input_DataFrame2['Gender']=Label_Encoder.transform(input_DataFrame2['Gender'])

In [48]:
input_DataFrame2

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [49]:
Final_Df=pd.concat([input_DataFrame2.drop('Geography',axis=1),input_DataFrame],axis=1)

In [50]:
Final_Df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [51]:
input_scaled=Scaler.transform(Final_Df)

In [54]:
prediction=model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step

In [57]:
prediction_proba=prediction[0][0]

In [59]:
prediction_proba

np.float32(0.06499388)

In [58]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.